# Node modules
node_modules/

# Compiled output
dist/

# Logs
logs/
*.log

# Environment variables
.env

# OS-specific files
.DS_Store

# TypeScript cache
*.tsbuildinfo

# IDE settings
.vscode/
.idea/

# npm debug log
npm-debug.log*
